---
title: Archives
is_hidden: true
---
%h1 Archives
-# TODO: Replace the articles_by_year_month function with articles_by_year
- articles_by_year_month.each do |year, month_h|
  %section
    %header
      %h2= year
      - month_h.each do |month, item_a|
        - item_a.each do |item|
          = render('_excerpt', :item => item)
