@import "compass/reset";
@import "compass/layout";
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/typography/vertical_rhythm";
@import "compass/typography/links";
@import "compass/typography/lists/bullets";
@import "960/grid";
@import "blueprint/link-icons";

@import "octopress-classic/theme";
@import "octopress-classic/utilities";
@import "octopress-classic/solarized";
@import "octopress-classic/typography";
@import "octopress-classic/syntax";

$header_font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$body_font: Georgia;
$fixed_font: "Inconsolata", Monaco, "Courier New", Courier;
$font_color: lighten(black, 20);
$background_color: darken(white, 20);
$outer_background: #f0f0f0;

/* To enable SVG gradient support in IE9 and Opera */
$experimental-support-for-svg: true;

$link_color: lighten(black, 20);;
$link_hover_color: lighten(black, 60);
$link_active_color: $link_hover_color;
$link_visited_color: lighten(black, 40);
$link_focus_color: $link_hover_color;

@mixin my-header-font-style($bold: true) {
    font-family: $header_font;
    letter-spacing: -0.04em;
    @if $bold {
	font-weight: bold;
    }
}

@mixin my-pretty-bullets {
    @include pretty-bullets("bullet_black.png", 15px, 15px, $base-line-height, 25px);
}

@mixin link-icons {
    a[href^="mailto:"] {
	@include link-icon(unquote("email.png")); }
    a[href$=".pdf"] {
	@include link-icon(unquote("pdf.png")); }
    a[href$=".doc"] {
	@include link-icon(unquote("doc.png")); }
    a[href$=".xls"] {
	@include link-icon(unquote("xls.png")); }
    a.atom-feed,
    a[href$=".rss"],
    a[href$=".rdf"] {
	@include link-icon(unquote("feed.png")); }
    a.noicon {
	@include no-link-icon; }
}

@mixin social-icon-base {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: left center;
}

@mixin social-icons {
    a.delicious {
	@include link-icon(unquote("social_icons/delicious_16.png"), false); }
    a.twitter {
	@include link-icon(unquote("social_icons/twitter_16.png"), false); }
    a.lastfm {
	@include link-icon(unquote("social_icons/lastfm_16.png"), false); }
    a.facebook {
	@include link-icon(unquote("social_icons/facebook_16.png"), false); }
    a.flickr {
	@include link-icon(unquote("social_icons/flickr_16.png"), false); }
    a.github {
	@include link-icon(unquote("social_icons/github_16.png"), false); }
    a.linkedin {
	@include link-icon(unquote("social_icons/linkedin_16.png"), false); }
    a.friendfeed {
	@include link-icon(unquote("social_icons/friendfeed_16.png"), false); }
    a.delicious, a.twitter, a.lastfm,
    a.facebook, a.flickr, a.github,
    a.linkedin, a.friendfeed {
	@include social-icon-base; }
}

@include establish-baseline;

body {
    font-family: $body_font;
    background-color: $outer_background;

    @include link-icons;

    p {
        @include text-shadow(0px 1px 0px white);
    }

    a {
	@include link-colors($link_color, $link_hover_color, $link_active_color, $link_visited_color, $link_focus_color);
	text-decoration: none;
    }

    pre {
        white-space: pre;
    }

    i {
        font-style: italic;
    }

    h1, h2, h3, h4, h5, h6 {
	@include my-header-font-style;
    }

    h1, h2, h3, h4, h5, h6 {
	@include margin-trailer(0.5);
    }
    
    p, pre, ul, ol {
	@include margin-trailer(1);
    }

    nav {
	ul {
	    @include no-bullets;
        }
    }

    time {
        @include my-header-font-style;
    }

    .tag {
        @include box-shadow(#555 1px 1px 2px);
        @include border-radius(5px);
        border: 0.5px solid #555;
        padding: 2px;
        margin: 0px 2px;
    }

    #container {
        @include grid-container;

        #sidebar {
            @include alpha;
            @include grid(2);

            h1 {
                font-size: 50px;
                line-height: 0.9em;
                margin-bottom: 0.2em;
            }

            ul {
                @include my-header-font-style;
            }

            .elsewhere {
                @include social-icons;
            }

            .tags {
                ul {
                    li {
                        @include no-bullets;
                    }
                }
            }
        }

        #main {
            @include grid(8);
            @include grid-prefix(1);
            @include grid-suffix(1);
            @include omega;

            //@include grid-container;

            background-color: $background_color;

            .excerpt {
                @include grid-container;

                h2 {
                    @include alpha;
                    @include grid(6);
                }
                
                time {
                    text-align: right;
                    @include grid(2);
                    @include omega;
                }

                .body {
                    @include grid(8);
                }

                @include margin-trailer(1);
            }

            & > article {
                header {
                    
	            h1 { @include adjust-font-size-to(40px); }
	            h2 { @include adjust-font-size-to(30px); }
                        
	            h1 {
                        @include padding-leader(0.5);
                        @include margin-trailer(0.5);
                    }
                    
                }

	        h1 { @include adjust-font-size-to(28px); }
	        h2 { @include adjust-font-size-to(25px); }
	        h3 { @include adjust-font-size-to(22px); }
	        h4 { @include adjust-font-size-to(18px); }
	        h5 { @include adjust-font-size-to(17px); }

	        .body {
                    ul, ol {
                        @include my-pretty-bullets;
                    }
                }
                
            }

            ul.tags {
	        li {
	            display: inline;
                }
            }

            img {
	        border: 2px solid #e0e0e0;
                margin-right: 10px;
                float: left;
            }

            p, li {
	        code {
                    @include text-shadow(none);
                    @include box-shadow(#555 1px 1px 2px);
                    @include border-radius(4px);
                    border: 0.5px solid #555;
                    padding: 1px 3px;
                }
            }

            #other-articles {
                @include grid-container;

                li {
                    @include no-bullets;
                }

                .older {
                    @include alpha;
                    @include grid(4);
                    text-align: right;
                }

                .newer {
                    @include grid(4);
                    @include omega;
                }
            }
        }
    }

    footer {
        @include grid(8);
        @include padding-leader(1);
        @include adjust-font-size-to(14px);

        font-weight: normal;

        .small {
            text-align: center;
        }
    }
}