@import "compass/reset";
@import "compass/layout";
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/typography/vertical_rhythm";
@import "compass/typography/links";
@import "compass/typography/lists/bullets";
@import "960/grid";
@import "blueprint/link-icons";

@import "octopress-classic/theme";
@import "octopress-classic/utilities";
@import "octopress-classic/solarized";
@import "octopress-classic/typography";
@import "octopress-classic/syntax";

$header_font: "museo-sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$body_font: "museo-slab", Georgia, serif;
$fixed_font: "Inconsolata", Monaco, "Courier New", Courier;
$font_color: lighten(black, 20);
$background_color: #f0f0f0;
$outer_background: darken(white, 10);

/* To enable SVG gradient support in IE9 and Opera */
$experimental-support-for-svg: true;

$link_color: rgb(95, 56, 177);
$link_hover_color: lighten($link_color, 10);
$link_active_color: $link_hover_color;
$link_visited_color: darken($link_color, 10);
$link_focus_color: $link_hover_color;

@mixin my-header-font-style($bold: true) {
    font-family: $header_font;
    letter-spacing: -0.04em;
    @if $bold {
        font-weight: bold;
    }
}

@mixin my-pretty-bullets {
    @include pretty-bullets("bullet_black.png", 15px, 15px, $base-line-height, 25px);
}

@mixin link-icons {
    a[href^="mailto:"] {
        @include link-icon(unquote("email.png")); }
    a[href$=".pdf"] {
        @include link-icon(unquote("pdf.png")); }
    a[href$=".doc"] {
        @include link-icon(unquote("doc.png")); }
    a[href$=".xls"] {
        @include link-icon(unquote("xls.png")); }
    a.atom-feed,
    a[href$=".rss"],
    a[href$=".rdf"] {
        @include link-icon(unquote("feed.png")); }
    a.noicon {
        @include no-link-icon; }
}

@mixin social-icon-base {
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: right center;
}

@mixin social-icons {
    a.delicious {
        @include link-icon(unquote("social_icons/delicious_16.png"), false); }
    a.twitter {
        @include link-icon(unquote("social_icons/twitter_16.png"), false); }
    a.lastfm {
        @include link-icon(unquote("social_icons/lastfm_16.png"), false); }
    a.facebook {
        @include link-icon(unquote("social_icons/facebook_16.png"), false); }
    a.flickr {
        @include link-icon(unquote("social_icons/flickr_16.png"), false); }
    a.github {
        @include link-icon(unquote("social_icons/github_16.png"), false); }
    a.linkedin {
        @include link-icon(unquote("social_icons/linkedin_16.png"), false); }
    a.friendfeed {
        @include link-icon(unquote("social_icons/friendfeed_16.png"), false); }
    a.delicious, a.twitter, a.lastfm,
    a.facebook, a.flickr, a.github,
    a.linkedin, a.friendfeed {
        @include social-icon-base; }
}

@include establish-baseline;

body {
    font-family: $body_font;
    background-color: $outer_background;

    @include link-icons;

    a {
        @include link-colors($font_color);
        text-decoration: none;
    }

    pre {
        white-space: pre;
        @include border-radius(0px, 0px);
    }

    blockquote {
        @include adjust-font-size-to($base-font-size);
    }

    i {
        font-style: italic;
    }

    h1, h2, h3, h4, h5, h6 {
        @include my-header-font-style;
        @include margin-trailer(0.5);
    }

    p, pre, ul, ol {
        @include margin-trailer(1);
    }

    nav {
        ul {
            @include no-bullets;
        }
    }

    time {
        @include my-header-font-style;
    }

    .tag {
        @include my-header-font-style(false);
        background-color: $outer_background;
        border: 0.5px solid #555;
        padding: 2px;
        margin: 0px 2px;
    }

    #container {
        @include grid-container;

        #sidebar {
            @include alpha;
            @include grid(2, 12, 0px);

            position: fixed;

            & > * {
                margin-right: 20px;
            }

            header {
                margin-right: 10px;
            }

            text-align: right;

            nav.main {
                margin-right: 0;

                ul {
                    @include margin-leader(0.5);
                    @include margin-trailer(0.5);

                    li {
                        background-color: $background-color;
                        padding-left: 15px;
                        padding-right: 15px;

                        @include adjust-font-size-to(20px);

                        @include padding-leader(0);
                        @include margin-leader(0.2);

                        @include padding-trailer(0);
                        @include margin-trailer(0.2);
                    }
                }
            }

            ul {
                @include my-header-font-style(false);
            }

            .elsewhere {
                @include social-icons;
            }

            .tags {
                ul {
                    li {
                        @include no-bullets;
                    }
                }
            }
        }

        #main {
            @include grid-push(2, 12);

            @include grid(8, 12, 0px);
            @include grid-prefix(1);
            @include grid-suffix(1);
            @include omega;

            @include padding-leader(1);

            margin-left: 0px;
            background-color: $background_color;

            p, li {
                a {
                    @include link-colors($link_color, $link_hover_color, $link_active_color, $link_visited_color, $link_focus_color);
                }
            }

            h1 { @include adjust-font-size-to(40px); }

            .archives, .excerpt {
                time {
                    color: darken($background_color, 30);
                    text-align: right;

                    @include grid(2);
                    @include omega;

                    margin-left: 0;
                    padding-right: 10px;
                }
            }

            .archives {
                @include grid-container;
                @include grid(8, 12, 0px);

                h2.year {
                    @include grid(8);
                    @include omega;
                    background-color: $outer_background;
                    font-weight: normal;
                }

                h2.year, h3 {
                    padding-left: 10px;
                }

                time, h3 {
                    @include adjust-font-size-to(16px);
                    font-weight: normal;
                }

                h3 {
                    @include grid(6);
                    margin-right: 0;
                }
            }

            .excerpt {
                @include grid-container;
                @include grid(8, 12, 0px);

                header {
                    @include grid-container;
                    @include grid(8, 12, 0px);
                    @include omega;
                }

                h2, time {
                    background-color: $outer_background;
                    font-weight: normal;
                }

                h2 {
                    @include grid(6, 12, 10px);
                    padding-left: 10px;
                    margin-left: 0;
                    margin-right: 0;
                }

                time {
                    @include grid(2, 12, 10px);
                    @include omega;
                    padding-right: 10px;
                    margin-right: 0;
                    margin-left: 0;
                }

                .body {
                    @include grid(8, 12, 10px);
                    @include omega;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            & > article {
                header {
                    h1 { @include adjust-font-size-to(40px); }
                    h2 { @include adjust-font-size-to(30px); }
                }

                h1 { @include adjust-font-size-to(28px); }
                h2 { @include adjust-font-size-to(25px); }
                h3 { @include adjust-font-size-to(22px); }
                h4 { @include adjust-font-size-to(18px); }
                h5 { @include adjust-font-size-to(17px); }
            }

            ul.tags {
                margin-left: 0;

                li {
                    display: inline;
                }
            }

            img {
                border: 2px solid #e0e0e0;
                margin-right: 15px;
                margin-top: 5px;
                float: left;
            }

            p, li {
                code {
                    @include text-shadow(none);
                    @include border-radius(0px, 0px);
                    border: 0.5px solid #555;
                    padding: 1px 3px;
                }
            }

            #other-articles {
                @include grid-container;

                li {
                    @include no-bullets;
                }

                .older {
                    @include alpha;
                    @include grid(4);
                    text-align: right;
                }

                .newer {
                    @include grid(4);
                    @include omega;
                }
            }
        }
    }

    footer {
        @include alpha;
        @include grid-prefix(2);
        @include grid(10);
        @include omega;

        @include padding-leader(1);
        @include adjust-font-size-to(14px);

        background-color: $outer_background;

        font-weight: normal;

        nav.tags {
            @include grid(10);

            margin-left: 0;

            li {
                display: inline;

                a.tag { background-color: $background_color; }
            }
        }

        small {
            @include grid(10);
            text-align: center;
        }
    }
}