---
---
.small
  %small
    :textile
      &copy; 2012 Martin Owen | Tools: "nanoc":http://nanoc.stoneship.org/, "HAML/SASS":http://haml-lang.com/ ,"Compass":http://compass-style.org/, "HTML5BP":http://html5boilerplate.com/, "CoffeeScript":http://coffeescript.org/